

@font-face
{
	font-family: OratorStd;
	src: url('OratorStd.otf');

}
@font-face
{
	font-family: FREESCPT;
	src: url('FREESCPT.ttf');

}
@font-face
{
	font-family: MyriadPro-BoldCond;
	src: url('MyriadPro-BoldCond.otf');

}
body {
	background-repeat: no-repeat;
}
h4.ad { 
	position: absolute; 
	font-family: 'OratorStd', Times, serif;
	left: 375px;
	top: 280px;
	font-size: 45px	}
h6.ads { 
	font-family: 'OratorStd', Times, serif;
	font-size: 20px	}
h1.ad2 {
	font-family: 'MyriadPro-BoldCond', Times, serif;
	font-size: 20px }

h1.ad3 {
	font-family: 'FREESCPT', Times, serif;
	font-size: 40px }
	
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
	color: #bebebe;
}

a:hover {
    text-decoration: none;
}