

@font-face
{
	font-family: JosefinSlab-SemiBold;
	src: url("../fonts/JosefinSlab-Bold.ttf");

}
@font-face
{
	font-family: JosefinSlab-Regular;
	src: url("../fonts/JosefinSlab-Regular.ttf");

}
body {
	background-repeat: no-repeat;
}
h1.ad { 
	font-family: 'JosefinSlab-SemiBold', Times, serif;
	font-size: 45px	}

font.ads { 
	font-family: 'JosefinSlab-Regular', Time, serif;
	font-size: 45px	}
	
div.relative {
	position: absolute;
	bottom: 793px;
}
p.a1 { 
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: #bebebe;
   top: 170px; 
   left: 270px; 
   font-size: 17px

}
h3.a2 { 
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 205px; 
   left: 250px; 
   font-size: 30px
}
div.vertical-line {
	  position: absolute;
	  bottom: 0px;
	  top: 176px;
	  left: 680px;
      width: 1px; 
      background-color: white; 
      height: 50%; 
 
    }
img.blockpos {
	position: absolute;
	top: -100px; 
	right: 0px;	
}    

h3.skillz {
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 305px; 
   left: 256px; 
 
   font-size: 30px
}

.skillscontent {
	position: relative;
	top: 100px;

}
