

@font-face
{
	font-family: JosefinSlab-SemiBold;
	src: url("../fonts/JosefinSlab-Bold.ttf");

}
@font-face
{
	font-family: JosefinSlab-Regular;
	src: url("../fonts/JosefinSlab-Regular.ttf");

}

@font-face
{
	font-family: MyriadPro-BoldCond;
	src: url("../fonts/MyriadPro-BoldCond.otf");

}

a:link {
    text-decoration: none;
    color: #bebebe;
}

a:visited {
    text-decoration: none;
	color: #bebebe;
}

a:hover {
    text-decoration: none;
}

body {
	background-repeat: no-repeat;
	background-size: cover; 
}

h1.ad2 {
	position: relative;
	font-family: 'MyriadPro-BoldCond', Times, serif;
	text-align: center;
	bottom: 0px;
	font-size: 20px
}

h1.ad { 
	font-family: 'JosefinSlab-SemiBold', Times, serif;
	font-size: 45px	
}

h1.adP { 
	position: relative;
	font-family: 'JosefinSlab-SemiBold', Times, serif;
	top: -21px;
	font-size: 45px	
}

font.ads { 
	font-family: 'JosefinSlab-Regular', Time, serif;
	font-size: 45px	
}
	
div.relative {
	position: absolute;
	bottom: 837px;
}
div.relative2 {
	position: absolute;
	bottom: 220px;
	left: 350px;
}
p.a1 { 
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: #bebebe;
   top: 160px; 
   left: 260px; 
   font-size: 17px

}
p.a12 { 
   position: fixed; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: #FFFFFF;
   top: 210px; 
   left: 570px; 
   font-size: 17px

}
h3.a0 {  
   position: relative;
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 340px; 
   left: 250px;  
   font-size: 25px
}
h3.a2 {  
   position: fixed;	
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 130px; 
   left: 600px; 
   font-size: 25px
}
div.vertical-line {
	  position: absolute;
	  bottom: 0px;
	  top: 176px;
	  left: 680px;
      width: 1px; 
      background-color: white; 
      height: 50%; 
 
}

div.vertical-line2 {
	  position: fixed;
	  bottom: 0px;
	  top: 190px;
	  left: 430px;
      height: 2px; 
      background-color: white; 
      width: 35%; 
}

div.vertical-line3 {
	  position: fixed;
	  bottom: 0px;
	  top: 201px;
	  left: 445px;
      height: 1px; 
      background-color: white; 
      width: 33%; 
}
div.vertical-line22 {
	  position: fixed;
	  bottom: 0px;
	  top: 380px;
	  left: 430px;
      height: 2px; 
      background-color: white; 
      width: 35%; 
}

div.vertical-line33 {
	  position: fixed;
	  bottom: 0px;
	  top: 390px;
	  left: 445px;
      height: 1px; 
      background-color: white; 
      width: 33%; 
}

div.vertical-line4 {
	  position: fixed;
	  bottom: 0px;
	  top: 380px;
	  left: 430px;
      height: 2px; 
      background-color: white; 
      width: 35%; 
}

div.vertical-line5 {
	  position: fixed;
	  bottom: 0px;
	  top: 391px;
	  left: 445px;
      height: 1px; 
      background-color: white; 
      width: 33%; 
}

img.blockpos {
	position: absolute;
		
}    
.blockposi {
	position: absolute;
	background-image: url("../images/Black block2.png");
	top: -100px; 
	right: 1375px;
}

h3.skillz {
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 317px; 
   left: 250px; 
 
   font-size: 25px
}

h3.skillz2 {
   position: fixed; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 317px; 
   left: 600px; 
 
   font-size: 25px
}

.skillscontent {
	position: relative;
	top: 110px;
	right: 8px;
}

h3.educ{
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 129px; 
   left: 710px; 
   font-size: 25px
}

p.e1 { 

   font-family: 'JosefinSlab-Regular', Times, serif;
   color: #bebebe;
   top: 160px; 
   left: 260px; 
   font-size: 17px

}

.educationcontent {
	position: absolute;
	left: 720px;
	bottom: 246px;
}

img.twitter {
	position: relative;
	width: 40px;
	height: 40px;
	right: 860px;
	top: 370px;
}


img.facebook {
	position: relative;
	width: 90px;
	height: 40px;
	right: 660px;
	top: 370px;
}

img.instagram {
	position: relative;
	width: 35px;
	height: 35px;
	right: -650px;
	top: 372px;
}

img.git {
	position: relative;
	left: 830px;
	top: 365px;
}
.info {
	position: absolute;
	top: 640px;
	left: 575px;
}

.forimages {
	position: relative;
}

img.Banduria {
	position: absolute;
	width: 100px;
	height: 150px;
	right: 695px;
	top: 90px;
	padding: 2px;
    border: 1px solid #ffffff;
    margin: 0;
}

img.CC {
	position: absolute;
	width: 250px;
	height: 100px;
	left: 275px;
	top: 140px;
	right: 860px;
	padding: 2px;
    border: 1px solid #ffffff;
    margin: 0;
}

img.Poster {
	position: absolute;
	width: 150px;
	height: 100px;
	left: 674px;
	top: 140px;
	right: 860px;
	padding: 2px;
    border: 1px solid #ffffff;
    margin: 0;

}

img.Cacao {
	position: absolute;
	width: 150px;
	height: 100px;
	right: 345px;
	top: 140px;
	padding: 2px;
    border: 1px solid #ffffff;
    margin: 0;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}