

@font-face
{
	font-family: JosefinSlab-SemiBold;
	src: url("../fonts/JosefinSlab-Bold.ttf");

}
@font-face
{
	font-family: JosefinSlab-Regular;
	src: url("../fonts/JosefinSlab-Regular.ttf");

}
body {
	background-repeat: no-repeat;
	background-size: cover; 
}
h1.ad { 
	font-family: 'JosefinSlab-SemiBold', Times, serif;
	font-size: 45px	}

font.ads { 
	font-family: 'JosefinSlab-Regular', Time, serif;
	font-size: 45px	}
	
div.relative {
	position: absolute;
	bottom: 836px;
}
p.a1 { 
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: #bebebe;
   top: 160px; 
   left: 260px; 
   font-size: 17px

}
h3.a2 { 
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 266px; 
   left: 245px; 
   font-size: 25px
}
div.vertical-line {
	  position: absolute;
	  bottom: 0px;
	  top: 176px;
	  left: 680px;
      width: 1px; 
      background-color: white; 
      height: 50%; 
 
    }
img.blockpos {
	position: absolute;
		
}    
.blockposi {
	position: absolute;
	background-image: url("../images/Black block2.png");
	top: -100px; 
	right: 1375px;
}

h3.skillz {
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 317px; 
   left: 250px; 
 
   font-size: 25px
}

.skillscontent {
	position: relative;
	top: 110px;
	right: 8px;
}

h3.educ{
   position: absolute; 
   font-family: 'JosefinSlab-Regular', Times, serif;
   color: white;
   top: 129px; 
   left: 710px; 
   font-size: 25px
}

p.e1 { 

   font-family: 'JosefinSlab-Regular', Times, serif;
   color: #bebebe;
   top: 160px; 
   left: 260px; 
   font-size: 17px

}

.educationcontent {
	position: absolute;
	left: 720px;
	bottom: 246px;
}

