


@font-face
{
	font-family: OratorStd;
	src: url('OratorStd.otf');

}

@font-face
{
	font-family: FREESCPT;
	src: url('FREESCPT.ttf');

}

@font-face
{
	font-family: MyriadPro-BoldCond;
	src: url('MyriadPro-BoldCond.otf');

}

body {
	background-repeat: no-repeat;
}

h4.ad { 
	position: absolute; 
	font-family: 'OratorStd', Times, serif;
	left: 375px;
	top: 280px;
	font-size: 45px	
}

h6.ads { 
	font-family: 'OratorStd', Times, serif;
	font-size: 20px	

}
h1.ad2 {
	font-family: 'MyriadPro-BoldCond', Times, serif;
	font-size: 20px 
}

p.ad3 {
	position: absolute;
	top: 450px;
	left: 490;
	font-family: 'FREESCPT', Times, serif;
	font-size: 40px 
}
	
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
	color: #bebebe;
}

a:hover {
    text-decoration: none;
}

img.twitter {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 15px;
	top: 8px;
}


img.facebook {
	position: absolute;
	width: 90px;
	height: 40px;
	right: 55px;
	top: 8px;
}

img.instagram {
	position: absolute;
	width: 35px;
	height: 35px;
	right: 145px;
	top: 11px;
}

img.git {
	position: absolute;
	top: 4px;
	left: 1116px;
}

.name {
	position: relative;
	top: -285px;
	right: 0px;
}
.info {
	position: absolute;
	top: 640px;
	left: 575px;
}

img.usep {
	position: absolute;
	top: 648px;
	left: 290px;
}

img.IC {
	position: absolute;
	top: 644px;
	left: 834px;
}

img.blockforpic {
	position: absolute;
	width: 1000px;
	height: 600px;
	top: 40px; 
}