

@font-face
{
	font-family: DancingScript-Regular;
	src: url("../fonts/DancingScript-Regular.ttf");

}

@font-face
{
	font-family: OratorStd;
	src: url("../fonts/OratorStd.otf");

}


@font-face
{
	font-family: MyriadPro-BoldCond;
	src: url("../fonts/MyriadPro-BoldCond.otf");

}

body {
	background-repeat: no-repeat;
}

h4.ad { 
	position: relative;
	font-family: 'OratorStd', Times, serif;
	text-align: center;
	bottom: -270px;
	font-size: 45px	
}

h6.ads { 
	font-family: 'OratorStd', Times, serif;
	font-size: 20px	

}
h1.ad2 {
	position: relative;
	font-family: 'MyriadPro-BoldCond', Times, serif;
	text-align: center;
	bottom: 0px;
	font-size: 20px
}

p.ad3 {
	position: fixed;
	font-family: 'DancingScript-Regular', Times, serif;
	text-align: center;
	top: 450px;
	left: 435px;
	font-size: 35px 
}
	
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
	color: #bebebe;
}

a:hover {
    text-decoration: none;
}

img.twitter {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 15px;
	top: 8px;
}


img.facebook {
	position: absolute;
	width: 90px;
	height: 40px;
	right: 55px;
	top: 8px;
}

img.instagram {
	position: absolute;
	width: 35px;
	height: 35px;
	right: 145px;
	top: 11px;
}

img.git {
	position: absolute;
	top: 4px;
	left: 1116px;
}

.name {
	position: relative;
	top: -285px;
	right: 0px;
}
.info {
	position: absolute;
	top: 640px;
	left: 575px;
}

img.usep {
	position: absolute;
	top: 648px;
	left: 290px;
}

img.IC {
	position: absolute;
	top: 644px;
	left: 834px;
}

img.blockforpic {
	position: absolute;
	width: 1000px;
	height: 600px;
	top: 40px; 
}

img.circle {
	display: block;
    margin-left: auto;
    margin-right: auto
}